/*Globales*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
}
body .three-container canvas {
  max-width: 100% !important;
  height: 100vh !important;
  position: absolute;
  z-index: 1;
}
body .three-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgb(33, 50, 146);
  border-bottom: 2px solid black;
  filter: drop-shadow(0.3px 0.3px 1px black) drop-shadow(-0.3px -0.3px 1px black);
}
body .three-container .main-menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin: 2vw;
}
body .three-container .main-menu .menu-burguer {
  z-index: 2;
}
body .three-container .main-menu .menu-burguer img {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: rgb(32, 46, 128);
  background-image: radial-gradient(circle at center, rgb(41, 58, 99) 50%, transparent 50%);
  transition: background-size 0.1s;
  background-size: 0 0;
  background-position: 50% 50%;
  border-radius: 5px;
  border: 2px solid black;
}
body .three-container .main-menu .menu-burguer img:hover {
  transform: scale(1.03);
  background-size: 200% 200%;
  cursor: pointer;
}
body .three-container .main-menu .menu-content.visible {
  visibility: visible;
}
body .three-container .main-menu .menu-content {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  padding: 17px;
  width: 50vw;
  gap: 1rem;
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(58, 77, 180);
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  border-right: 2px solid black;
}
body .three-container .main-menu .menu-content .close-menu_button {
  background-color: rgb(224, 91, 91);
  background-image: radial-gradient(circle at center, rgb(172, 38, 38) 50%, transparent 50%);
  transition: background-size 0.1s;
  background-size: 0 0;
  background-position: 50% 50%;
  border-radius: 5px;
  border: 2px solid black;
}
body .three-container .main-menu .menu-content .close-menu_button img {
  width: 45px;
  height: 45px;
  padding: 10px;
}
body .three-container .main-menu .menu-content .close-menu_button:hover {
  transform: scale(1.03);
  background-size: 200% 200%;
  cursor: pointer;
}
body .three-container .main-menu .menu-content ul {
  margin: 20px 0;
  list-style-type: none;
  width: 100%;
}
body .three-container .main-menu .menu-content ul hr {
  border: 1px solid black;
}
body .three-container .main-menu .menu-content ul li {
  display: flex;
  align-items: center;
  width: 100%;
}
body .three-container .main-menu .menu-content ul li a {
  width: 100%;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 3vw;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  padding: 10px 0;
  text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;
}
body .three-container .main-menu .menu-content ul li:hover {
  background-color: rgba(242, 242, 240, 0.2);
  cursor: pointer;
}
body .three-container .main-menu .switch-changes_color {
  z-index: 3;
}
body .three-container .main-menu .switch-changes_color span .sun-img {
  width: 25px;
  height: 25px;
}
body .three-container .main-menu .switch-changes_color span .moon-img {
  width: 22px;
  height: 25px;
}
body .three-container .main-menu .switch-changes_color .slider-change {
  -webkit-appearance: none;
  width: 50px;
  height: 20px;
  border-radius: 25px;
  background: rgb(242, 130, 65);
  outline: none;
  border: 2px solid black;
}
body .three-container .main-menu .switch-changes_color .slider-change:hover {
  background: rgb(236, 150, 101);
}
body .three-container .main-menu .switch-changes_color .slider-change::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #F2F2F0;
  border: 2px solid black;
  cursor: pointer;
}
body .three-container .main-menu .switch-changes_color .slider-change::-webkit-slider-thumb:hover {
  background: rgb(230, 223, 223);
}
body .three-container .main-title {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: auto;
  margin: 20px 0;
  z-index: 2;
}
body .three-container .main-title h1 {
  color: white;
  text-align: center;
  font-size: 8vw;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  text-shadow: -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black, 2px 2px 0px black;
}
body .three-container .down-button {
  display: flex;
  align-self: center;
  align-content: center;
  align-items: end;
  z-index: 2;
  height: 100vh;
  max-width: 100%;
}
body .three-container .down-button img {
  width: 75px;
  max-inline-size: 50%;
  padding: 30px 5px 5px;
  background-color: rgb(32, 46, 128);
  background-image: radial-gradient(circle at center, rgb(41, 58, 99) 50%, transparent 50%);
  background-repeat: no-repeat;
  transition: background-size 0.1s;
  background-size: 0 0;
  background-position: 50% 50%;
  border-radius: 16%;
  margin-bottom: 3vh;
  border: 2px solid black;
  transition: transform 0.5s ease;
}
body .three-container .down-button img:hover {
  transform: scale(1.03);
  background-size: 200% 200%;
  cursor: pointer;
}
body main .my-description {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border-bottom: 2px solid black;
  padding: 2%;
}
body main .my-description .main-titles {
  color: white;
  text-decoration: none;
  font-size: 35px;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  padding: 10px 0;
  text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;
}
body main .my-description .description-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
body main .my-description .description-container img {
  width: 40%;
  border-radius: 50%;
  border: 2px solid black;
}
body main .my-description .description-container p {
  width: 50%;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 1rem;
  padding: 1rem;
  color: black;
}
body main .my-description .description-container table,
body main .my-description .description-container th,
body main .my-description .description-container td {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  margin: 0 0 0 1vw;
  width: 50%;
  border: 2px solid black;
  border-collapse: collapse;
}
body main .my-description .description-container td {
  background-color: rgb(230, 223, 223);
}
body main .my-description .description-container th {
  color: white;
  background-color: rgb(33, 50, 146);
}
body main .my-works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  border-bottom: 2px solid black;
  gap: 6vh;
}
body main .my-works .main-titles {
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  padding: 10px 2%;
  text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;
}
body main .my-works .works-slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
body main .my-works .works-slider .scrolling-button_container img {
  width: 75px;
  height: 75px;
  margin: 0 20px;
}
body main .my-works .works-slider .scrolling-button_container img:hover {
  cursor: pointer;
}
body main .my-works .works-slider .scrolling-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
  transition: transform 0.5s ease;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
body main .my-works .works-slider .scrolling-container .scrolling-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 240px;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px 30px;
  background-color: rgb(33, 50, 146);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.5;
  transform: scale(0.9);
  cursor: pointer;
}
body main .my-works .works-slider .scrolling-container .scrolling-card img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
}
body main .my-works .works-slider .scrolling-container .scrolling-card h4 {
  color: white;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 25px;
}
body main .my-works .works-slider .scrolling-container .scrolling-card hr {
  width: 100%;
  height: 2px;
  background-color: black;
  border: none;
  margin: 5px 0;
}
body main .my-works .works-slider .scrolling-container .scrolling-card ul li {
  list-style-type: none;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}
body main .my-works .works-slider .scrolling-container .scrolling-card:hover {
  background-color: rgb(66, 77, 138);
}
body main .my-works .works-slider .scrolling-container .scrolling-card.active {
  transform: scale(1);
  opacity: 1;
}
body main .my-works .works-slider .scrolling-container::-webkit-scrollbar {
  display: none;
}
body main .my-works .content-slider {
  display: flex;
  justify-content: center;
  margin: 2% 0 5% 0;
  gap: 0 7px;
}
body main .my-works .content-slider .dot {
  height: 15px;
  width: 15px;
  background-color: rgb(187, 187, 187);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  border: 2px solid black;
  cursor: pointer;
}
body main .my-works .content-slider .dot:hover {
  background-color: rgb(243, 167, 104);
}
body main .my-works .content-slider .dot.active {
  background-color: rgb(134, 131, 131);
  transform: scale(1.5);
}
body main .my-works .content-slider .dot.active:hover {
  background-color: aqua;
}
body main .contact-me {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 2%;
}
body main .contact-me .main-titles {
  color: white;
  text-decoration: none;
  font-size: 35px;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  padding: 10px 0;
  text-shadow: -2px -2px 2px black, 2px -2px 2px black, -2px 2px 2px black, 2px 2px 2px black;
}
body main .contact-me .form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}
body main .contact-me .form-content .form-section {
  background-color: rgb(33, 50, 146);
  padding: 10px;
  border-radius: 10px;
  width: 70%;
  height: 70%;
  border: 2px solid black;
}
body main .contact-me .form-content .form-section .form-request {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
body main .contact-me .form-content .form-section .form-request label {
  margin: 0 10px;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 25px;
  color: #000000;
}
body main .contact-me .form-content .form-section .form-request input[type=email],
body main .contact-me .form-content .form-section .form-request input[type=text],
body main .contact-me .form-content .form-section .form-request textarea {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  background: none;
  border-radius: 5px;
  border: none;
  padding: 0px 10px;
  width: 100%;
  outline: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
  resize: none;
}
body main .contact-me .form-content .form-section .form-request input::-moz-placeholder {
  color: white;
  opacity: 0.7;
}
body main .contact-me .form-content .form-section .form-request input::placeholder {
  color: white;
  opacity: 0.7;
}
body main .contact-me .form-content .form-section .form-request textarea::-moz-placeholder {
  color: white;
  opacity: 0.6;
}
body main .contact-me .form-content .form-section .form-request textarea::placeholder {
  color: white;
  opacity: 0.6;
}
body main .contact-me .form-content .form-section .form-request div {
  display: flex;
  justify-content: center;
}
body main .contact-me .form-content .form-section .form-request div input[type=submit] {
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  margin: 5px 0;
  padding: 10px 20px;
  flex-wrap: wrap;
  border: 2px solid black;
}
body main .contact-me .form-content .form-section .form-request div input[type=submit]:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
body main .contact-me .form-content .request-text {
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 4vw;
}

@media (max-width: 1024px) {
  body main .my-works .works-slider .scrolling-container .scrolling-card {
    flex: 0 0 50%;
  }
}
@media (max-width: 650px) {
  body {
    overflow-x: hidden;
    width: 100%;
    background-color: blue;
  }
  body main .my-description .main-titles {
    padding: 2% 0 0 2%;
  }
  body main .my-description .description-container {
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 5% 0;
    width: 100%;
    height: 100%;
  }
  body main .my-description .description-container img {
    width: 80%;
    border-radius: 50%;
    border: 2px solid black;
  }
  body main .my-description .description-container p {
    width: 100%;
    font-family: "Poppins", "Arial Narrow Bold", sans-serif;
    font-size: 1rem;
    padding: 1rem;
  }
  body main .my-description .description-container table,
  body main .my-description .description-container th,
  body main .my-description .description-container td {
    font-family: "Poppins", "Arial Narrow Bold", sans-serif;
    font-size: 1rem;
    padding: 1rem;
    margin: 1vh 0;
    width: 30%;
    border: 2px solid black;
    border-collapse: collapse;
  }
  body main .my-description .description-container th {
    color: white;
    background-color: rgb(33, 50, 146);
  }
  body main .my-works {
    gap: 0px;
    /*.content-slider{
        margin: 0 0 50% 0 ;
        padding: 0;
    }*/
  }
  body main .my-works .main-titles {
    padding: 2% 0 0 2%;
  }
  body main .my-works .works-slider {
    gap: 0;
    width: 100vw;
  }
  body main .my-works .works-slider .scrolling-button_container {
    width: 5%;
    height: 5%;
  }
  body main .my-works .works-slider .scrolling-button_container.visible {
    visibility: collapse;
  }
  body main .my-works .works-slider .scrolling-container .scrolling-card {
    flex: 0 0 80%;
  }
}/*# sourceMappingURL=styles.css.map */