/*Globales*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$typographyPoppins: 'Poppins', 'Arial Narrow Bold', sans-serif;
$typographyInter: 'Inter', 'Arial Narrow Bold', sans-serif;
$typographyRoboto: 'Roboto', 'Arial Narrow Bold', sans-serif;
$typographyPlayfairDisplay: 'Playfair+Display', 'Arial Narrow Bold', sans-serif;

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;

    .three-container canvas {
        max-width: 100% !important;
        height: 100vh !important;
        position: absolute;
        z-index: 1;
    }

    .three-container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: 100vh;
        position: relative;
        //overflow: hidden;
        //z-index: 1; //Maneja la posicion del canvas
        background-color: rgb(33, 50, 146);
        border-bottom: 2px solid black;
        filter: drop-shadow(0.3px 0.3px 1px black) drop-shadow(-0.3px -0.3px 1px black);

        .main-menu {
            display: flex;
            flex-direction: row;
            align-content: center;
            justify-content: space-between;
            margin: 2vh;
            //z-index: 2;

            .menu-burguer {
                z-index: 2;

                img {
                    width: 50px;
                    height: 50px;
                    padding: 10px;
                    background-color: rgb(32, 46, 128);
                    background-image: radial-gradient(circle at center, rgb(41, 58, 99) 50%, transparent 50%);
                    transition: background-size .1s;
                    background-size: 0 0;
                    background-position: 50% 50%;
                    border-radius: 5px;
                    margin-bottom: 3vh;
                    border: 2px solid black;
                }

                img:hover {
                    transform: scale(1.03);
                    background-size: 200% 200%;
                    cursor: pointer;
                }
            }


            .menu-content.visible {
                //Se llama en el javascript para que se muestre el menu 
                visibility: visible;
            }

            .menu-content {
                visibility: hidden;
                display: flex;
                flex-direction: column;
                align-items: start;
                position: absolute;
                padding: 17px;
                width: 400px;
                gap: 1rem;
                z-index: 5;
                top: 0;
                left: 0;
                bottom: 0;
                background-color: rgb(58, 77, 180);
                box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
                border-right: 2px solid black;

                .close-menu_button {
                    //background-color: black;
                    background-color: rgb(224, 91, 91);
                    background-image: radial-gradient(circle at center, rgb(172, 38, 38) 50%, transparent 50%);
                    transition: background-size .1s;
                    background-size: 0 0;
                    background-position: 50% 50%;
                    border-radius: 5px;
                    border: 2px solid black;

                    img {
                        width: 45px;
                        height: 45px;
                        padding: 10px;

                    }
                }

                .close-menu_button:hover {
                    transform: scale(1.03);
                    background-size: 200% 200%;
                    cursor: pointer;
                }

                ul {
                    margin: 20px 0;
                    list-style-type: none;
                    width: 100%;

                    li {
                        display: flex;
                        align-items: center;
                        margin-bottom: 10px;
                        border-top: 2px solid black;
                        border-bottom: 2px solid black;
                        width: 100%;

                        a {
                            width: 100%;
                            color: white;
                            text-decoration: none;
                            text-align: center;
                            font-size: 3vw;
                            font-family: $typographyPoppins;
                            padding: 10px 0;
                            text-shadow:
                                -2px -2px 2px black,
                                2px -2px 2px black,
                                -2px 2px 2px black,
                                2px 2px 2px black;

                        }
                    }

                    li:hover {
                        background-color: rgb(242, 242, 240, 0.2);
                        cursor: pointer;
                    }
                }
            }



            .switch-changes_color {
                z-index: 3;

                span {
                    /*img {
                        padding: 0 10px 0;
                    }*/

                    .sun-img {
                        width: 25px;
                        height: 25px;
                    }

                    .moon-img {
                        width: 22px;
                        height: 25px;
                    }
                }

                .slider-change {
                    -webkit-appearance: none;
                    width: 50px;
                    height: 20px;
                    border-radius: 25px;
                    background: rgb(242, 130, 65);
                    outline: none;
                    border: 2px solid black;
                    //filter: drop-shadow(0.3px 0.3px 1px black) drop-shadow(-0.3px -0.3px 1px black);
                    //box-shadow: 2px 2px 4px #2b2a2a;
                }

                .slider-change:hover {
                    background: rgb(236, 150, 101);
                }

                .slider-change::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    width: 25px;
                    height: 25px;
                    border-radius: 100%;
                    background: #F2F2F0;
                    border: 2px solid black;
                    //margin:10px;
                    //filter: drop-shadow(1px 1px 1px black) drop-shadow(-1px -1px -1px black);
                    cursor: pointer;
                }

                .slider-change::-webkit-slider-thumb:hover {
                    background: rgb(230, 223, 223);
                }
            }
        }


        .main-title {
            display: flex;
            flex-direction: column;
            align-self: center;
            width: auto;
            margin: 20px 0;
            z-index: 2;

            h1 {
                color: white;
                //border: 2px solid black;
                text-align: center;
                font-size: 5vw;
                font-family: $typographyPoppins;
                text-shadow:
                    -2px -2px 0px black,
                    2px -2px 0px black,
                    -2px 2px 0px black,
                    2px 2px 0px black;
            }
        }

        .down-button {
            display: flex;
            //padding: 0px;
            align-self: center;
            align-content: center;
            align-items: end;
            z-index: 2;
            height: 100vh;
            max-width: 100%;

            img {
                width: 75px;
                max-inline-size: 50%;
                padding: 30px 5px 5px;
                background-color: rgb(32, 46, 128);
                background-image: radial-gradient(circle at center, rgb(41, 58, 99) 50%, transparent 50%);
                background-repeat: no-repeat;
                transition: background-size .1s;
                background-size: 0 0;
                background-position: 50% 50%;
                border-radius: 16%;
                margin-bottom: 3vh;
                border: 2px solid black;
                //box-shadow: 2px 4px 4px #000000;
                //box-shadow: 3px 3px 0px 0px black, -3px -3px 0px 0px black;
                //filter: drop-shadow(0.3px 0.3px 0px black) drop-shadow(-0.3px -0.3px 0px black);
                transition: transform 0.5s ease;
            }

            img:hover {
                transform: scale(1.03);
                background-size: 200% 200%;
                cursor: pointer;
            }
        }
    }

    main {
        .my-description {
            display: flex;
            flex-direction: column;
            height: 100vh;
            background-color: rgb(255, 255, 255);
            border-bottom: 2px solid black;
            padding: 2%;

            .main-titles {
                color: white;
                text-decoration: none;
                font-size: 35px;
                font-family: $typographyPoppins;
                padding: 10px 0;
                text-shadow:
                    -2px -2px 2px black,
                    2px -2px 2px black,
                    -2px 2px 2px black,
                    2px 2px 2px black;
            }

            .description-container {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: center;
                height: 100vh;
                width: 100%;

                img {
                    width: 40%;
                    border-radius: 50%;
                    border: 2px solid black;
                }

                p {
                    width: 50%;
                    font-family: $typographyPoppins;
                    font-size: 20px;
                    padding: 50px;
                }
            }
        }

        .my-works {
            display: flex;
            flex-direction: column;
            //justify-content: stretch;
            height: 100vh;
            background-color: rgb(33, 50, 146);
            border-bottom: 2px solid black;

            .main-titles {
                color: white;
                text-decoration: none;
                font-size: 35px;
                font-family: $typographyPoppins;
                padding: 10px 2%;
                text-shadow:
                    -2px -2px 2px black,
                    2px -2px 2px black,
                    -2px 2px 2px black,
                    2px 2px 2px black;
            }

            .works-slider {
                display: flex;
                flex-direction: rowI;
                ;
                align-items: center;
                margin: 50px 0px;

                .scrolling-button_container {
                    display: flex;
                    justify-content: space-between;

                    img {
                        width: 75px;
                        height: 75px;
                        margin: 0 20px;
                    }

                    img:hover {
                        cursor: pointer;
                    }
                }

                .scrolling-container {
                    display: flex;
                    flex-wrap: nowrap;
                    overflow-x: auto;
                    scroll-behavior: smooth;
                    gap: 20px;
                    transition: transform 0.5s ease;

                    .scrolling-card {
                        flex: 0 0 auto;
                        border: 2px solid black;
                        border-radius: 10px;
                        padding: 20px 30px;
                        background-color: rgb(74, 99, 240);
                        transition: transform 0.5s ease, opacity 0.5s ease;
                        opacity: 0.5;
                        transform: scale(0.9);
                        cursor: pointer;

                        img {
                            width: 300px;
                            margin: 0 0 10px 0;
                            border-radius: 10px;
                            border: 2px solid black;
                        }

                        h4 {
                            //width: 100%;
                            color: white;
                            font-family: $typographyPoppins;
                            font-size: 25px;
                            //border-bottom: 2px solid black;
                        }

                        hr {
                            width: 100%;
                            height: 2px;
                            background-color: black;
                            border: none;
                            margin: 5px 0;
                        }

                        ul li {
                            list-style-type: none;
                            font-family: $typographyPoppins;
                            font-size: 20px;
                        }
                    }

                    .scrolling-card:hover {
                        background-color: rgb(66, 77, 138);
                    }

                    .scrolling-card.active {
                        transform: scale(1);
                        opacity: 1;
                    }
                }

                .scrolling-container::-webkit-scrollbar {
                    display: none;
                }
            }

            .content-slider {
                display: flex;
                justify-content: center;

                .dot { 
                    height: 15px;
                    width: 15px;
                    margin: 0 5px;
                    background-color: rgb(187, 187, 187);
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s ease;
                    border: 2px solid black;
                    cursor: pointer;
                }

                .dot:hover{
                    background-color: rgb(243, 167, 104);
                }

                .dot.active{
                    background-color: rgb(134, 131, 131);
                    transform: scale(1.5);
                }
                .dot.active:hover{
                    background-color: aqua;
                }
            }

        }
    }

    .contact-me {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        //align-items: center;
        height: 100vh;
        padding: 0 2%;
        gap: 20px;

        .main-titles {
            color: white;
            text-decoration: none;
            font-size: 35px;
            font-family: $typographyPoppins;
            padding: 10px 0;
            text-shadow:
                -2px -2px 2px black,
                2px -2px 2px black,
                -2px 2px 2px black,
                2px 2px 2px black;
        }

        .request-text {
            font-family: $typographyPoppins;
            font-size: 30px;
        }

        .form-section {
            background-color: rgb(33, 50, 146);
            padding: 20px;
            border-radius: 10px;
            width: 600px;
            height: 60vh;
            border: 2px solid black;

            .form-request {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;

                label {
                    margin: 0 10px;
                    font-family: $typographyPoppins;
                    font-size: 25px;
                    color: #000000
                }

                input[type=email],
                input[type=text],
                textarea {
                    font-family: $typographyPoppins;
                    font-size: 20px;
                    background: none;
                    border-radius: 5px;
                    border: none;
                    padding: 15px 0 10px 10px;
                    width: 100%;
                    outline: none;
                    border-bottom: 2px solid rgb(0, 0, 0);
                    color: rgb(255, 255, 255);
                    flex-wrap: wrap;
                    resize: none;
                }

                div {
                    display: flex;
                    justify-content: center;

                    input[type=submit] {
                        width: 20%;
                        font-family: $typographyPoppins;
                        font-size: 22px;
                        border-radius: 5px;
                        border: none;
                        margin: 15px 0;
                        padding: 10px 20px;
                        flex-wrap: wrap;
                        border: 2px solid black;
                    }

                    input[type=submit]:hover {

                        background-color: rgb(0, 0, 0);
                        color: rgb(255, 255, 255);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}