/*Globales*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

#three-container canvas {
  width: 100vw !important;
  height: 100vh !important;
  position: absolute;
  top: 0;
  left: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
body .three-container canvas {
  max-width: 100% !important;
  height: 100vh !important;
  position: absolute;
  z-index: 1;
}
body .three-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
  background-color: rgb(33, 50, 146);
  border-bottom: 2px solid black;
  filter: drop-shadow(0.3px 0.3px 1px black) drop-shadow(-0.3px -0.3px 1px black);
}
body .three-container .main-menu {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  margin: 2vh;
  z-index: 2;
}
body .three-container .main-menu .menu-burguer img {
  width: 50px;
  height: 50px;
  padding: 10px;
  background-color: rgb(32, 46, 128);
  background-image: radial-gradient(circle at center, rgb(41, 58, 99) 50%, transparent 50%);
  background-repeat: no-repeat;
  transition: background-size 0.1s;
  background-size: 0 0;
  background-position: 50% 50%;
  border-radius: 16%;
  margin-bottom: 3vh;
  border: 2px solid black;
}
body .three-container .main-menu .menu-burguer img:hover {
  transform: scale(1.03);
  background-size: 200% 200%;
  cursor: pointer;
}
body .three-container .main-menu .switch-changes_color span {
  /*img {
      padding: 0 10px 0;
  }*/
}
body .three-container .main-menu .switch-changes_color span .sun-img {
  width: 25px;
  height: 25px;
}
body .three-container .main-menu .switch-changes_color span .moon-img {
  width: 22px;
  height: 25px;
}
body .three-container .main-menu .switch-changes_color .slider-change {
  -webkit-appearance: none;
  width: 50px;
  height: 20px;
  border-radius: 25px;
  background: rgb(242, 130, 65);
  outline: none;
  border: 2px solid black;
}
body .three-container .main-menu .switch-changes_color .slider-change:hover {
  background: rgb(236, 150, 101);
}
body .three-container .main-menu .switch-changes_color .slider-change::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background: #F2F2F0;
  border: 2px solid black;
  cursor: pointer;
}
body .three-container .main-menu .switch-changes_color .slider-change::-webkit-slider-thumb:hover {
  background: rgb(230, 223, 223);
}
body .three-container .main-title {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: auto;
  margin: 20px 0;
  z-index: 2;
}
body .three-container .main-title h1 {
  color: white;
  text-align: center;
  font-size: 5vw;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  text-shadow: -2px -2px 0px black, 2px -2px 0px black, -2px 2px 0px black, 2px 2px 0px black;
}
body .three-container .down-button {
  display: flex;
  align-self: center;
  align-content: center;
  align-items: end;
  z-index: 2;
  height: 100vh;
  max-width: 100%;
}
body .three-container .down-button img {
  width: 75px;
  max-inline-size: 50%;
  padding: 30px 5px 5px;
  background-color: rgb(32, 46, 128);
  background-image: radial-gradient(circle at center, rgb(41, 58, 99) 50%, transparent 50%);
  background-repeat: no-repeat;
  transition: background-size 0.1s;
  background-size: 0 0;
  background-position: 50% 50%;
  border-radius: 16%;
  margin-bottom: 3vh;
  border: 2px solid black;
  transition: transform 0.5s ease;
}
body .three-container .down-button img:hover {
  transform: scale(1.03);
  background-size: 200% 200%;
  cursor: pointer;
}
body main .My-Description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  background-color: white;
}
body main .My-Description .My-Photo {
  max-width: 50%;
  height: 50%;
  margin: 5%;
  border-radius: 50%;
  border: 3px solid black;
  box-shadow: 1px 1px 0px 0px black, -1px -1px 0px 0px black;
}
body main .My-Description p {
  padding: 2vh;
  max-width: 50%;
  font-family: "Poppins", "Arial Narrow Bold", sans-serif;
  font-size: 2vw;
  margin: 5%;
}/*# sourceMappingURL=styles.css.map */