/*Globales*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

$typographyPoppins: 'Poppins', 'Arial Narrow Bold', sans-serif;
$typographyInter: 'Inter', 'Arial Narrow Bold', sans-serif;
$typographyRoboto: 'Roboto', 'Arial Narrow Bold', sans-serif;
$typographyPlayfairDisplay: 'Playfair+Display', 'Arial Narrow Bold', sans-serif;

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
   }

body{
    display: flex;
    flex-direction: column;
    
    margin: 2vw;
    background-color: rgb(33, 50, 146);

    .Changes-Color{

        display: flex;
        align-items: center;
        align-self: end;
        float: right;

        i{
            padding: 0 10px 0;
        }

        .slider-change {
            -webkit-appearance: none; 
            width: 20%;
            height: 20px;
            border-radius: 20px; 
            background: #F28241;
            outline: none; 
        }
          .slider-change::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #F2F2F0;
            cursor: pointer;
        }
    }


    main{
        h1{
            color: white;
            text-align: center;
            font-size: 5vw;
            font-family: $typographyPoppins;
            margin: 20px 0;
        }
    }

}
